In [23]:
from pathlib import Path
import pandas as pd

In [24]:
books_path = Path("Resources/books.csv")

books_df = pd.read_csv(books_path, encoding="utf-8")
books_df.head()

C:\Users\mpast\AppData\Local\Temp\ipykernel_26732\1413114781.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv(books_path, encoding="utf-8")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [25]:
users_path = Path("Resources/users.csv")

users_df = pd.read_csv(users_path, encoding="utf-8")
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [26]:
ratings_path = Path("Resources/ratings.csv")

ratings_df = pd.read_csv(ratings_path, encoding="utf-8")
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [27]:
#remove url columns
drop_columns = ["Image-URL-S",
               "Image-URL-M",
               "Image-URL-L"]

books_df.drop(drop_columns, inplace=True, axis=1)
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [56]:
rename_columns = {"Book-Title": "Book_Title",
                 "Book-Author": "Book_Author",
                 "Year-Of-Publication": "Year_Of_Publication",
                 }

books_df.rename(columns=rename_columns, inplace=True)

books_df.head(55)

C:\Users\mpast\AppData\Local\Temp\ipykernel_26732\2945285628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_df.rename(columns=rename_columns, inplace=True)

,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000.0,Berkley Publishing Group
7,0671870432,PLEADING GUILTY,Scott Turow,1993.0,Audioworks
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996.0,Random House
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002.0,Scribner
10,0771074670,Nights Below Station Street,David Adams Richards,1988.0,Emblem Editions
11,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000.0,Citadel Press
12,0887841740,The Middle Stories,Sheila Heti,2004.0,House of Anansi Press
13,1552041778,Jane Doe,R. J. Kaiser,1999.0,Mira Books
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998.0,Health Communications
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998.0,Brilliance Audio - Trade
16,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999.0,Kensington Publishing Corp.
17,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994.0,River City Pub
18,0440234743,The Testament,John Grisham,1999.0,Dell
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994.0,Plume
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999.0,Three Rivers Press
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001.0,Ryland Peters &amp; Small Ltd
22,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003.0,Cypress House
23,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate &amp; Ashley Olsen,2000.0,HarperEntertainment
24,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999.0,Scholastic
25,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998.0,Aladdin
26,0971880107,Wild Animus,Rich Shapero,2004.0,Too Far
27,0345402871,Airframe,Michael Crichton,1997.0,Ballantine Books
28,0345417623,Timeline,MICHAEL CRICHTON,2000.0,Ballantine Books
29,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996.0,Scribner
30,0375759778,Prague : A Novel,ARTHUR PHILLIPS,2003.0,Random House Trade Paperbacks
31,0425163091,Chocolate Jesus,Stephan Jaramillo,1998.0,Berkley Publishing Group
32,3404921038,Wie Barney es sieht.,Mordecai Richler,2002.0,LÃ?Â¼bbe
33,3442353866,Der Fluch der Kaiserin. Ein Richter- Di- Roman.,Eleanor Cooney,2001.0,Goldmann
34,3442410665,Sturmzeit. Roman.,Charlotte Link,1991.0,Goldmann
35,3442446937,Tage der Unschuld.,Richard North Patterson,2000.0,Goldmann
36,0375406328,Lying Awake,Mark Salzman,2000.0,Alfred A. Knopf
37,0446310786,To Kill a Mockingbird,Harper Lee,1988.0,Little Brown &amp; Company
38,0449005615,Seabiscuit: An American Legend,LAURA HILLENBRAND,2002.0,Ballantine Books
39,0060168013,Pigs in Heaven,Barbara Kingsolver,1993.0,Harpercollins
40,038078243X,Miss Zukas and the Raven's Dance,Jo Dereske,1996.0,Avon
41,055321215X,Pride and Prejudice,Jane Austen,1983.0,Bantam
42,067176537X,The Therapeutic Touch: How to Use Your Hands t...,Dolores Krieger,1979.0,Fireside
43,0061099686,Downtown,Anne Rivers Siddons,1995.0,HarperTorch
44,0553582909,Icebound,Dean R. Koontz,2000.0,Bantam Books
45,0671888587,I'll Be Seeing You,Mary Higgins Clark,1994.0,Pocket
46,0553582747,From the Corner of His Eye,Dean Koontz,2001.0,Bantam Books
47,0425182908,Isle of Dogs,Patricia Cornwell,2002.0,Berkley Publishing Group
48,042518630X,Purity in Death,J.D. Robb,2002.0,Berkley Publishing Group
49,0440223571,This Year It Will Be Different: And Other Stories,Maeve Binchy,1997.0,Dell
50,0812523873,Proxies,Laura J. Mixon,1999.0,Tor Books
51,0842342702,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,2000.0,Tyndale House Publishers
52,0440225701,The Street Lawyer,JOHN GRISHAM,1999.0,Dell
53,0060914068,"Love, Medicine and Miracles",M.D. Bernie S. Siegel,1988.0,HarperCollins Publishers
54,0156047624,All the King's Men,Robert Penn Warren,1982.0,Harvest Books

In [29]:
books_df.dtypes

ISBN                   object
Book_Title             object
Book_Author            object
Year_Of_Publication    object
Publisher              object
dtype: object

In [30]:
# Your existing code for conversion to numeric and dropping NaN
books_df["Year_Of_Publication"] = pd.to_numeric(books_df["Year_Of_Publication"], errors="coerce")
books_df = books_df.dropna(subset=["Year_Of_Publication"])

# Filter based on numeric values
new_books_df = books_df[pd.notna(books_df["Year_Of_Publication"])]

# Convert ‘Year_Of_Publication’ to int
new_books_df["Year_Of_Publication"] = new_books_df["Year_Of_Publication"].astype(int)
new_books_df.dtypes

ISBN                   object
Book_Title             object
Book_Author            object
Year_Of_Publication     int32
Publisher              object
dtype: object

In [54]:
# Replace double quotes with single quotes in the "Book_Title" column
new_books_df['Book_Title'] = new_books_df['Book_Title'].str.replace('"', "")
new_books_df.head(55)

,ISBN,Book_Title,Book_Author,Year_Of_Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner
10,0771074670,Nights Below Station Street,David Adams Richards,1988,Emblem Editions
11,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press
12,0887841740,The Middle Stories,Sheila Heti,2004,House of Anansi Press
13,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books
14,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications
15,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade
16,1575663937,More Cunning Than Man: A Social History of Rat...,Robert Hendrickson,1999,Kensington Publishing Corp.
17,1881320189,Goodbye to the Buttermilk Sky,Julia Oliver,1994,River City Pub
18,0440234743,The Testament,John Grisham,1999,Dell
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,1994,Plume
20,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press
21,1841721522,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001,Ryland Peters &amp; Small Ltd
22,1879384493,If I'd Known Then What I Know Now: Why Not Lea...,J. R. Parrish,2003,Cypress House
23,0061076031,Mary-Kate &amp; Ashley Switching Goals (Mary-K...,Mary-Kate &amp; Ashley Olsen,2000,HarperEntertainment
24,0439095026,Tell Me This Isn't Happening,Robynn Clairday,1999,Scholastic
25,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far
27,0345402871,Airframe,Michael Crichton,1997,Ballantine Books
28,0345417623,Timeline,MICHAEL CRICHTON,2000,Ballantine Books
29,0684823802,OUT OF THE SILENT PLANET,C.S. Lewis,1996,Scribner
30,0375759778,Prague : A Novel,ARTHUR PHILLIPS,2003,Random House Trade Paperbacks
31,0425163091,Chocolate Jesus,Stephan Jaramillo,1998,Berkley Publishing Group
32,3404921038,Wie Barney es sieht.,Mordecai Richler,2002,LÃ?Â¼bbe
33,3442353866,Der Fluch der Kaiserin. Ein Richter- Di- Roman.,Eleanor Cooney,2001,Goldmann
34,3442410665,Sturmzeit. Roman.,Charlotte Link,1991,Goldmann
35,3442446937,Tage der Unschuld.,Richard North Patterson,2000,Goldmann
36,0375406328,Lying Awake,Mark Salzman,2000,Alfred A. Knopf
37,0446310786,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company
38,0449005615,Seabiscuit: An American Legend,LAURA HILLENBRAND,2002,Ballantine Books
39,0060168013,Pigs in Heaven,Barbara Kingsolver,1993,Harpercollins
40,038078243X,Miss Zukas and the Raven's Dance,Jo Dereske,1996,Avon
41,055321215X,Pride and Prejudice,Jane Austen,1983,Bantam
42,067176537X,The Therapeutic Touch: How to Use Your Hands t...,Dolores Krieger,1979,Fireside
43,0061099686,Downtown,Anne Rivers Siddons,1995,HarperTorch
44,0553582909,Icebound,Dean R. Koontz,2000,Bantam Books
45,0671888587,I'll Be Seeing You,Mary Higgins Clark,1994,Pocket
46,0553582747,From the Corner of His Eye,Dean Koontz,2001,Bantam Books
47,0425182908,Isle of Dogs,Patricia Cornwell,2002,Berkley Publishing Group
48,042518630X,Purity in Death,J.D. Robb,2002,Berkley Publishing Group
49,0440223571,This Year It Will Be Different: And Other Stories,Maeve Binchy,1997,Dell
50,0812523873,Proxies,Laura J. Mixon,1999,Tor Books
51,0842342702,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,2000,Tyndale House Publishers
52,0440225701,The Street Lawyer,JOHN GRISHAM,1999,Dell
53,0060914068,"Love, Medicine and Miracles",M.D. Bernie S. Siegel,1988,HarperCollins Publishers
54,0156047624,All the King's Men,Robert Penn Warren,1982,Harvest Books

In [49]:
new_names_users = {"User-ID": "User_ID"}

users_df.rename(columns=new_names_users, inplace=True)

users_df.head()

   User_ID   Age         City            State         Country
0        1   NaN          nyc         new york             usa
1        2  18.0     stockton       california             usa
2        3   NaN       moscow  yukon territory          russia
3        4  17.0        porto         v.n.gaia        portugal
4        5   NaN  farnborough            hants  united kingdom

In [50]:
users_df.dtypes

User_ID      int64
Age        float64
City        object
State       object
Country     object
dtype: object

In [51]:
# Assuming ‘Location’ is your column in users_df
split_location = users_df["Location"].str.split(", ", expand=True)

# Check if there are three elements after splitting
if len(split_location.columns) == 3:
    users_df[["City", "State", "Country"]] = split_location
else:
    # Display rows where the split result doesn’t have three elements
    invalid_rows = split_location[split_location.apply(lambda row: len(row.dropna()) != 3, axis=1)]
    if not invalid_rows.empty:
        print("Rows with incomplete split:")
        print(invalid_rows)
        print("\n")
        
        # Examine and analyze the cases where the split result doesn’t have three elements
        for index, row in invalid_rows.iterrows():
            print(f"Row {index + 1}: {row}")
            
        print("\n")
        
        # Create a new DataFrame with only the invalid rows
        invalid_df = users_df.loc[invalid_rows.index]
        # Remove invalid rows from the original DataFrame
        users_df = users_df.drop(invalid_df.index)
        print("Removed invalid rows from the original DataFrame.")
        
    else:
        print("No rows with incomplete split found.")

# Now handle the case where the split result doesn’t have three elements
if len(split_location.columns) != 3:
    print("Error: Unable to split Location into three columns.")

KeyError: 'Location'

In [ ]:
users_df

In [ ]:
users_df[["City", "State", "Country"]] = users_df["Location"].str.split(", ", expand=True)
users_df

In [ ]:
users_df.drop(columns=["Location"], inplace=True)
users_df

In [ ]:
users_df.dtypes

In [ ]:
ratings_df

In [ ]:
new_names_ratings = {"User-ID": "User_ID"}

ratings_df.rename(columns=new_names_users, inplace=True)

ratings_df.head()

In [ ]:
changeBookrating = {"Book-Rating": "Book_Rating"}

ratings_df.rename(columns=changeBookrating, inplace=True)

ratings_df.head()

In [ ]:
ratings_df.dtypes

In [55]:
#move cleaned dataframes to csv to import into SQL

new_books_df.to_csv("Cleaned/Books_clean.csv", encoding="utf-8", index=False, header=True)
users_df.to_csv("Cleaned/Users_clean.csv", encoding="utf-8", index=False, header=True)
#
#
#
#
#
#

In [ ]:
# Extract unique ISBN and User_ID values from the respective DataFrames
valid_isbn = books_df['ISBN'].unique()
valid_user_ids = users_df['User_ID'].unique()

# Filter rows in ratings DataFrame where ISBN values exist in the books DataFrame
filtered_ratings_isbn_df = ratings_df[ratings_df['ISBN'].isin(valid_isbn)]

# Filter rows in ratings DataFrame where User_ID values exist in the users DataFrame
filtered_ratings_isbn_userid_df = filtered_ratings_isbn_df[filtered_ratings_isbn_df['User_ID'].isin(valid_user_ids)]

filtered_ratings_isbn_userid_df

In [ ]:
filtered_ratings_isbn_userid_df.to_csv("Cleaned/Ratings_clean_filtered.csv", encoding="utf-8", index=False, header=True)